$prefixes: -webkit-,
-moz-,
-ms-,
-o-;

$xxs: 320;
$xs: 480;
$sm: 640;
$md: 768;
$lg: 960;
$xl: 1200;
$xxl: 1600;

$size-xxs: "(max-width: #{ $xxs }px)";
$size-xs: "(max-width: #{ $xs }px)";
$size-sm: "(max-width: #{ $sm }px)";
$size-md: "(max-width: #{ $lg - 1 }px)";
$size-lg: "(min-width: #{ $lg }px) and (max-width: #{ $xl - 1 }px)";
$size-xl: "(min-width: #{ $xl }px)";
$size-xxl: "(min-width: #{ $xxl }px)";

// $xs-l: "(max-height: 480px) and (orientation: landscape) not (min-aspect-ratio: 1.5/1)";
// $sm-l: "(max-height: 640px) and (orientation: landscape) not (min-aspect-ratio: 2/1)";

// $xsl: "(max-height: 480px) and (orientation: landscape) and (max-width: 640px) not (min-aspect-ratio: 3/2)";
// $sml: "(max-height: 640px) and (orientation: landscape) and (max-width: 959px) not (min-aspect-ratio: 4/3)";

$minWidth: 320px;
$maxWidth: 56.25em;

$transiton: all .2s;

$white: #fff;
$black: #000;
$green: #13b65c;
$green-lighter: lighten($green, 10%);
$green-darker: darken($green, 10%);
$blue: #0cd3d2;
$gray: #ccc;

:export {
  color: {
    green: $green;
    green-lighter: $green-lighter;
    blue: $blue;
  }

  size: {
    xxs: $xxs;
    xs: $xs;
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;
    xxl: $xxl;
  }
}