&__info {
  @include respond(675) {
    order: 2;
  }

  @include respond(455) {
    order: 0;
  }

  &__logo {
    max-width: 60%;

    &__img {
      vertical-align: middle;
      width: 100%;
    }
  }

  &__data {
    margin-top: 1em;

    &__link {
      color: $white;
    }

    &__text {
      color: darken($white, 40%);
      margin-top: 1em;
      padding-left: 1.5em;
      position: relative;
    }

    &__img {
      left: 0;
      max-width: 1.4em;
      position: absolute;
      top: 0;
    }
  }
}