.header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: .5em auto 0;
  max-width: $maxWidth;
  width: 100%;

  @include respond('md') {
    box-sizing: border-box;
    padding: 0 .5em;
  }

  &__data {
    box-sizing: border-box;
    padding-left: 1em;
  }

  &__title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__content {
    margin-top: .5em;
    text-align: justify;
  }

  .logo {
    flex-basis: 20vw;
    max-width: 250px;
    min-width: 150px;

    &__img {
      vertical-align: middle;
      width: 100%;
    }
  }
}